<p id="notice"><%= notice %></p>

<p>
  <strong>Date suspended:</strong>
  <%= @blacklist.date_suspended %>
</p>

<%= link_to 'Edit', edit_blacklist_path(@blacklist) %> |
<%= link_to 'Back', blacklists_path %>
