<h1>Editing File Attachment Dump</h1>

<%= render 'form', file_attachment_dump: @file_attachment_dump %>

<%= link_to 'Show', @file_attachment_dump %> |
<%= link_to 'Back', file_attachment_dumps_path %>
