<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @file_attachment_dump.url %>
</p>

<%= link_to 'Edit', edit_file_attachment_dump_path(@file_attachment_dump) %> |
<%= link_to 'Back', file_attachment_dumps_path %>
